<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lyric.android.app"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.zys.brokenview"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <permission
        android:name="app.permission.TEST_SERVICE"
        android:protectionLevel="normal"/>
    <permission
        android:name="app.permission.TEST_PROVIDER_READ"
        android:protectionLevel="normal"/>
    <permission
        android:name="app.permission.TEST_PROVIDER_WRITE"
        android:protectionLevel="normal"/>

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">
        </activity>
        <activity
            android:name=".activity.CollapsibleTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SpannableTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ViewTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CircleProgressBarActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".test.mvvm.view.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.MainDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.ServiceTestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.SwipeMenuSimpleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.SwipeMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".test.video.VideoListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.video.VideoFullScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.WidgetsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PraiseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.Default">
        </activity>
        <activity
            android:name=".activity.HeaderListViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".base.BaseFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <receiver
            android:name=".test.others.TestBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.intent.action.APP_START"/>
                <action android:name="com.intent.action.TEST"/>
                <action android:name="com.intent.action.TEST_DEFAULT"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".test.others.TestService"
            android:exported="false"/>

        <service
            android:name=".test.others.TestRemoteService"
            android:exported="true"
            android:permission="app.permission.TEST_SERVICE"
            android:process=":remote">
        </service>

        <provider
            android:name=".test.others.TestContentProvider"
            android:authorities="com.lyric.provider.test"
            android:exported="true"
            android:permission="TEST_PROVIDER_WRITE"
            android:readPermission="app.permission.TEST_PROVIDER_READ"
            android:writePermission="app.permission.TEST_PROVIDER_WRITE"/>

        <meta-data
            android:name="com.lyric.android.app.glide.ImageModule"
            android:value="ImageModule"/>

        <meta-data
            android:name="ANDROID_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>