<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lyric.android.app">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <permission
        android:name="app.permission.TEST_SERVICE"
        android:protectionLevel="normal"/>
    <permission
        android:name="app.permission.TEST_PROVIDER_READ"
        android:protectionLevel="normal"/>
    <permission
        android:name="app.permission.TEST_PROVIDER_WRITE"
        android:protectionLevel="normal"/>

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 设置浏览器中打开app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="android_utils"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.BaseFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".test.service.TestService"
            android:exported="false"/>

        <service
            android:name=".test.service.TestRemoteService"
            android:exported="true"
            android:permission="app.permission.TEST_SERVICE"
            android:process=":remote">
        </service>

        <provider
            android:name=".test.TestContentProvider"
            android:authorities="com.lyric.provider.test"
            android:exported="true"
            android:permission="TEST_PROVIDER_WRITE"
            android:readPermission="app.permission.TEST_PROVIDER_READ"
            android:writePermission="app.permission.TEST_PROVIDER_WRITE"/>

        <meta-data
            android:name="APP_CHANNEL"
            android:value="${APP_CHANNEL_VALUE}"/>
    </application>

</manifest>